.container{
   background-color: lightblue;
   margin: 0 auto;
   width: 90%;
   max-width:900px;
   display: grid;
   grid-template-columns:260px 1fr 200px;
}

.is-current {
      background-color: red;
      color: lightblue;
   }

nav{
   display: flex;
   justify-content: flex-end;
   list-style: none;
   grid-column: 2 / 4;
   grid-row: 1 ;
   padding: 32px;
   text-align: center;
   font-size: 15px;

}

header h1{
   color: red;
   font-family: 'Sniglet', cursive;
   letter-spacing: 1px;
}

h2{
   font-family: 'Sniglet', cursive;
   font-size: 23px;
   letter-spacing: 1px;
}
header{
   grid-column: 1/2;
   grid-row: 1; 
}

.intro{
   color: goldenrod;
   margin-bottom: 10px;
   font-family: 'Josefin Sans', sans-serif;
}


.strawberry {
   color: lightcoral;
   margin-bottom: 5px;
}

.lemon{
   color: #FFF700;

}

.apple{
   color: #2CD01A;
}


main{
   grid-column: 1/4;
}

div{
   display: flex;
   justify-content: space-between;
   
}

section{
   margin: 13px;
}
p {
   font-family: 'Josefin Sans', sans-serif;
   line-height: 1.9em;
   text-align: justify;
}

footer{
   grid-column: 1 / 3;
   font-family: 'Josefin Sans', sans-serif;
   padding-top: 20px;
}

a{
   color: red;
   text-decoration:none;
}
