.container{
   background-color: lightblue;
   margin: 0 auto;
   width: 90%;
   max-width:900px;
   display: grid;
   grid-template-columns:260px 1fr 200px;
}

.is-current {
      background-color: red;
      color: lightblue;
   }

.headImage{
   grid-column:2/4;
   padding:10px;
}

nav{
   display: flex;
   justify-content: flex-end;
   list-style:none;
   grid-column: 2 / 4;
   color: red;
   padding: 20px;
   font-size: 25px;

}

header{
   grid-column:1 / 2;
}

header h1{
   color: red;
   font-family: "Roboto", sans-serif;
}

header{
   grid-column: 1/2;
   grid-row: 1; 
}

.intro{
   color: goldenrod;
}


.strawberry {
   color: lightcoral;
   text-align: left;
}

.lemon{
   color: #FFF700;
   text-align: middle;
}

.apple{
   color: #2CD01A;
   text-align: left;
}


main{
   grid-column: 1/4;
   align-self: end;
   font-family: 'Open Sans Condensed', sans-serif;
}

section{
   column-count: 3;
}

p {
   font-family: 'Montserrat', sans-serif;
}

footer{
   grid-column: 1 / 2;
   font-family: "Roboto", sans-serif;

}

a{
   color: red;
   text-decoration:none;
}
