.container{
   background-color: lightblue;
   margin: 0 auto;
   width: 90%;
   max-width:900px;
   display: grid;
   grid-template-columns:260px 1fr 200px;
}

.is-current {
      background-color: red;
      color: lightblue;
   }

nav{
   display: flex;
   justify-content: flex-end;
   list-style:none;
   grid-column: 2 / 4;
   grid-row: 1 ;
   color: goldenrod;
   padding: 25px;
   text-align: center;
   font-size: 15px;

}

header{
   grid-column:1 / 2;
}

header h1{
   color: red;
   font-family: "Roboto", sans-serif;
}

header{
   grid-column: 1/2;
   grid-row: 1; 
}

.intro{
   color: goldenrod;
}


.strawberry {
   color: lightcoral;
}

.lemon{
   color: #FFF700;

}

.apple{
   color: #2CD01A;
}


main{
   grid-column: 1/4;
   font-family: "Open Sans Condensed", sans-serif;
}

section{
   column-count: 3;
}

p {
   font-family: "Montserrat", sans-serif;
}

footer{
   grid-column: 1 / 2;
   font-family: "Roboto", sans-serif;
   padding-top: 20px;
}

a{
   color: red;
   text-decoration:none;
}
